### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
myfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
myfile_df = pd.read_csv(myfile)
# pd.options.display.float_format = '${:,.2f}'.format

In [2]:
myfile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players = myfile_df["SN"].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = myfile_df["Item Name"].nunique()
unique_items

179

In [5]:
purchase_count = myfile_df["Item Name"].count()
purchase_count

780

In [11]:
purchase_count = myfile_df["Item Name"].count()
purchase_count

780

In [12]:
avg_price = round(myfile_df["Price"].mean(), 2)
avg_price

3.05

In [13]:
total_revenue = round(myfile_df["Price"].sum(), 2)
total_revenue

2379.77

In [14]:
# Create a summary data frame to hold the results
summary_table_df = pd.DataFrame({'Number of Unique Items': [unique_items], 
                                 'Average Price': "$"+str(avg_price),
                                 'Number of Purchases': (purchase_count),
                                 'Total Revenue': "$"+str(total_revenue)})
summary_table_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [91]:
# reduced_df = myfile_df.loc[:, ["Gender", "SN"]]
# reduced_df.count()

In [93]:
new_df = myfile_df.drop_duplicates()
new_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [94]:
grouped_gender_df = myfile_df.groupby("Gender")
grouped_gender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35 to 39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20 to 24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20 to 24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35 to 39
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,11 to 14
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,20 to 24
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25 to 29
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,15 to 19
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75,20 to 24
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39,20 to 24

In [95]:
# Count of gender
gender_counts = myfile_df["Gender"].value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [96]:
price_per_person = myfile_df["Price"].mean()
price_per_person

3.050987179487176

In [97]:
######################## Need to return a count of unique male users based on 'SN'(screen name)
count_of_males = (new_df["Gender"] == "Male").sum()
count_of_males

652

In [98]:
######################## Need to return a count of unique female users based on 'SN'(screen name) 
count_of_females = (new_df["Gender"] == "Female").sum()
count_of_females

113

In [99]:
######################## Need to return a count of unique 'other' users based on 'SN'(screen name)
count_of_other = (new_df["Gender"] == "Other / Non-Disclosed").sum()
count_of_other

15

In [100]:
percent_male = count_of_males / total_players * 100
percent_male

113.19444444444444

In [101]:
percent_female = count_of_females / total_players * 100
percent_female

19.618055555555554

In [102]:
percent_other = count_of_other / total_players * 100
percent_other

2.604166666666667

In [103]:
grouped_age_df = grouped_gender_df["Age"].mean()
grouped_age_df

Gender
Female                   21.345133
Male                     22.917178
Other / Non-Disclosed    24.200000
Name: Age, dtype: float64

In [104]:
grouped_avg_price = grouped_gender_df["Price"].mean()
grouped_avg_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [105]:
grouped_purchase_count = grouped_gender_df["Item Name"].count()
grouped_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [106]:
grouped_purchase_value = grouped_gender_df["Price"].sum()
grouped_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [107]:
############## need HELP - these values should return avg purchase price PER PERSON per gender
grouped_avg_total = grouped_gender_df["Price"].mean()
grouped_avg_total

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64


* The below each broken by gender

* Purchase Count

* Average Purchase Price

* Total Purchase Value

* Average Purchase Total per Person by Gender

In [47]:
unique_person_totals_df = myfile_df.groupby(["Gender", "SN", "Price"]).agg(['sum'])
# total_price_per_person = unique_person_totals_df["Price"].sum()
# total_price_per_person.mean()
unique_person_totals_df

                                          Purchase ID Age Item ID  \
                                                  sum sum     sum
Gender                SN            Price
Female                Adastirin33   4.48          142  35     175
                      Aerithllora36 3.74          578  29     153
                                    4.90          274  29      82
                      Aethedru70    3.54          775  21      60
                      Aidain51      3.45          516  39      35
...                                               ...  ..     ...
Other / Non-Disclosed Maluncil97    3.10          549  25     146
                      Rairith81     2.22          350  15      34
                      Siarithria38  3.10          747  38     146
                                    3.81           22  38      24
                      Sundim98      4.75          111  21      41

                                                            Item Name
                                                                  sum
Gender                SN            Price
Female                Adastirin33   4.48   Woeful Adamantite Claymore
                      Aerithllora36 3.74              Mercenary Sabre
                                    4.90                      Nirvana
                      Aethedru70    3.54                         Wolf
                      Aidain51      3.45     Heartless Bone Dualblade
...                                                               ...
Other / Non-Disclosed Maluncil97    3.10         Warped Iron Scimitar
                      Rairith81     2.22              Retribution Axe
                      Siarithria38  3.10         Warped Iron Scimitar
                                    3.81                Warped Fetish
                      Sundim98      4.75                        Orbit

[779 rows x 4 columns]

In [48]:
############################ Avg Purchase Price is NAN?! ########################
# Create a summary data frame to hold the results by gender
gender_summary_df = pd.DataFrame({'Avg Age': round((grouped_age_df), 1).astype(float).map("{:,.1f}".format),
                                  'Purchase Count': (grouped_purchase_count),
                                  'Average Purchase Price': round((grouped_avg_price),2).astype(float).map("${:,.2f}".format),
                                  'Total Purchase Value': (grouped_purchase_value).astype(float).map("${:,.2f}".format),
                                  'Avg Purchase Total per Person': round((grouped_avg_total), 2).astype(float).map("${:,.2f}".format)
                                })
gender_summary_df

,Avg Age,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,,
Female,21.3,113,$3.20,$361.94,$3.20
Male,22.9,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,24.2,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [75]:
unique_gender_totals_df = myfile_df.groupby(["Gender", "SN"])
total_price_per_person = unique_gender_totals_df["Price"].sum()
# total_price_per_person.groupby("Gender").count()
total_price_per_person

Gender                 SN
Female                 Adastirin33      4.48
                       Aerithllora36    8.64
                       Aethedru70       3.54
                       Aidain51         3.45
                       Aiduesu86        4.48
                                        ...
Other / Non-Disclosed  Lirtim36         1.33
                       Maluncil97       5.28
                       Rairith81        2.22
                       Siarithria38     6.91
                       Sundim98         4.75
Name: Price, Length: 576, dtype: float64

In [68]:
unique_gender_totals_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [50]:
# Figure out the min and max age values so we know what the edges are
print(myfile_df["Age"].max())
print(myfile_df["Age"].min())

45
7

In [52]:
########################## HELP with binning #################
# Create bins for Ages
bins = [1, 10, 15, 20, 25, 30, 35, 40, 45]

group_labels = ["<10", "11 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

In [60]:
# Categorize the existing players by adding a new column to the data frame
myfile_df["Age Range"] = pd.cut(myfile_df["Age"], bins, right=False, labels=group_labels, include_lowest=True)
myfile_df.head(30)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20 to 24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35 to 39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20 to 24
8,8,Undjask33,22,Male,21,Souleater,1.10,20 to 24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35 to 39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20 to 24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20 to 24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20 to 24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20 to 24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35 to 39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20 to 24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20 to 24
17,17,Zontibe81,21,Male,161,Devine,1.76,20 to 24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20 to 24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30 to 34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20 to 24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20 to 24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35 to 39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30 to 34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25 to 29
26,26,Lirtossa84,11,Male,71,Demise,1.61,11 to 14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20 to 24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20 to 24

In [79]:
# Calculate the numbers and percentages for each age group
# type(myfile_df["Age Range"])
bin_counts = myfile_df["Age Range"].value_counts()
bin_counts

20 to 24    365
15 to 19    136
25 to 29    101
30 to 34     73
35 to 39     41
11 to 14     28
<10          23
40+          12
Name: Age Range, dtype: int64

In [80]:
age_percent = bin_counts / total_players * 100
age_percent

20 to 24    63.368056
15 to 19    23.611111
25 to 29    17.534722
30 to 34    12.673611
35 to 39     7.118056
11 to 14     4.861111
<10          3.993056
40+          2.083333
Name: Age Range, dtype: float64

In [ ]:
# Slice the data and place it into bins
# pd.cut(myfile_df["Age"], bins, labels=group_labels).head()

In [81]:
# Create a summary data frame to hold the results and display it
gender_ranges_df = pd.DataFrame({"Total Count": (bin_counts),
                                 "Percentage of Players": round((age_percent), 2).astype(float).map("{:,.2f}%".format)
                                })
gender_ranges_df

          Total Count Percentage of Players
20 to 24          365                63.37%
15 to 19          136                23.61%
25 to 29          101                17.53%
30 to 34           73                12.67%
35 to 39           41                 7.12%
11 to 14           28                 4.86%
<10                23                 3.99%
40+                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [114]:
grouped_age_range = myfile_df.groupby("Age Range")
grouped_age_range.count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Range
<10                 23   23   23      23       23         23     23
11 to 14            28   28   28      28       28         28     28
15 to 19           136  136  136     136      136        136    136
20 to 24           365  365  365     365      365        365    365
25 to 29           101  101  101     101      101        101    101
30 to 34            73   73   73      73       73         73     73
35 to 39            41   41   41      41       41         41     41
40+                 12   12   12      12       12         12     12

In [84]:
# Categorize the existing players by adding a new column to the data frame
new_group_df = myfile_df[["Age Range", "Price"]].groupby(["Age Range"]).agg(['count', 'sum', 'mean'])
new_group_df

          Price
          count      sum      mean
Age Range
<10          23    77.13  3.353478
11 to 14     28    82.78  2.956429
15 to 19    136   412.89  3.035956
20 to 24    365  1114.06  3.052219
25 to 29    101   293.00  2.900990
30 to 34     73   214.00  2.931507
35 to 39     41   147.67  3.601707
40+          12    36.54  3.045000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [71]:
grouped_purchase_count_df = myfile_df.groupby("Item Name")
grouped_purchase_count_df.count()

,Purchase ID,SN,Age,Gender,Item ID,Price,Age Range
Item Name,,,,,,,
Abyssal Shard,5,5,5,5,5,5,5
"Aetherius, Boon of the Blessed",5,5,5,5,5,5,5
Agatha,6,6,6,6,6,6,6
Alpha,3,3,3,3,3,3,3
"Alpha, Oath of Zeal",3,3,3,3,3,3,3
...,...,...,...,...,...,...,...
Wolf,8,8,8,8,8,8,8
"Wolf, Promise of the Moonwalker",6,6,6,6,6,6,6
Worldbreaker,4,4,4,4,4,4,4
Yearning Crusher,3,3,3,3,3,3,3
Yearning Mageblade,5,5,5,5,5,5,5

In [125]:
# # male_percent = count_of_males / total_players * 100
# # male_percent

# # Calculations can also be performed on Series and added into DataFrames as new columns
# thousands_of_dollars = myfile_df["Price"].mean()
# myfile_df["Thousands of Dollars"] = thousands_of_dollars

# myfile_df.head()

In [128]:
unique_users_df = myfile_df.groupby(["SN", "Price"]).agg(['count', 'sum'])
unique_users_df.sort_values("")

                   Purchase ID        Age     Gender         Item ID       \
                         count  sum count sum  count     sum   count  sum
SN           Price
Adairialis76 2.28            1  467     1  16      1    Male       1  123
Adastirin33  4.48            1  142     1  35      1  Female       1  175
Aeda94       4.91            1  388     1  17      1    Male       1  128
Aela59       4.32            1   28     1  21      1    Male       1  119
Aelaria33    1.79            1  630     1  23      1    Male       1  171
...                        ...  ...   ...  ..    ...     ...     ...  ...
Zhisrisu83   3.54            1  141     1  10      1    Male       1   60
             4.35            1   54     1  10      1    Male       1   25
Zontibe81    1.76            1   17     1  21      1    Male       1  161
             2.48            1  560     1  21      1    Male       1    2
             3.79            1  442     1  21      1    Male       1   84

                   Item Name
                       count                                        sum
SN           Price
Adairialis76 2.28          1                          Twilight's Carver
Adastirin33  4.48          1                 Woeful Adamantite Claymore
Aeda94       4.91          1              Blazeguard, Reach of Eternity
Aela59       4.32          1  Stormbringer, Dark Blade of Ending Misery
Aelaria33    1.79          1                                    Scalpel
...                      ...                                        ...
Zhisrisu83   3.54          1                                       Wolf
             4.35          1                                  Hero Cane
Zontibe81    1.76          1                                     Devine
             2.48          1                                    Verdict
             3.79          1                                 Arcane Gem

[779 rows x 10 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [129]:
# Retrieve ID, Item Name, Item Price columns
new_df = myfile_df[["SN", "Item ID", "Item Name", "Price"]].sort_values("SN")
new_df.head()

               SN  Item ID                                  Item Name  Price
467  Adairialis76      123                          Twilight's Carver   2.28
142   Adastirin33      175                 Woeful Adamantite Claymore   4.48
388        Aeda94      128              Blazeguard, Reach of Eternity   4.91
28         Aela59      119  Stormbringer, Dark Blade of Ending Misery   4.32
630     Aelaria33      171                                    Scalpel   1.79

In [ ]:
purchase_value = myfile_df.groupby("SN").count()
purchase_value

In [ ]:
# Group by 'ID' and 'Item Name' and perform calcs to obtain:
# Purchase Count
# Avg Item Price
# Total purchase Value

grouped_users_df = new_df.groupby(["Item ID", "Item Name", "Price"]).agg(['count','sum']).sort_values('Item Name', ascending=False)
grouped_users_df

In [347]:
new_df.groupby["Age Range"].value_counts()['SN']
new_df

TypeError: 'method' object is not subscriptable

In [ ]:
# Sort Purchase Count in Decending order and preview the data frame
purchase_count = myfile_df.sort_values("Price", ascending=False)
purchase_count.head()

In [ ]:
# Display a preview of the summary data frame

In [73]:
count_of_other = (new_df["Age Range"] == "Other / Non-Disclosed").sum()

KeyError: 'Age Range'

## Most Profitable Items

In [163]:
myfile_df["SN"].value_counts()

Lisosia93      5
Idastidru52    4
Iral74         4
Aelin32        3
Idai61         3
              ..
Eolan54        1
Lisirra87      1
Chamossa77     1
Chadjask85     1
Quarrion42     1
Name: SN, Length: 576, dtype: int64

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Sort the above table by Total Purchase Value in Decending order
total_value = myfile_df.sort_values("Price", ascending=False)
total_value.head()

In [233]:
# Collect a list of all the unique values in "Preferred Position"
unique_users_df = myfile_df["SN"]
unique_users_df.value_counts()

Lisosia93      5
Idastidru52    4
Iral74         4
Aelin32        3
Idai61         3
              ..
Eolan54        1
Lisirra87      1
Chamossa77     1
Chadjask85     1
Quarrion42     1
Name: SN, Length: 576, dtype: int64

In [252]:
stats_df = new_df.groupby("Item Name").sort_value([""])
stats_df.count()

                                 Item ID  Price
Item Name
Abyssal Shard                          5      5
Aetherius, Boon of the Blessed         5      5
Agatha                                 6      6
Alpha                                  3      3
Alpha, Oath of Zeal                    3      3
...                                  ...    ...
Wolf                                   8      8
Wolf, Promise of the Moonwalker        6      6
Worldbreaker                           4      4
Yearning Crusher                       3      3
Yearning Mageblade                     5      5

[179 rows x 2 columns]

In [343]:
avg_purchase_pp = new_group_df.groupby("Age Range").sum()
avg_purchase_pp

          Price
          count      sum      mean
Age Range
<10          23    77.13  3.353478
11 to 14     28    82.78  2.956429
15 to 19    136   412.89  3.035956
20 to 24    365  1114.06  3.052219
25 to 29    101   293.00  2.900990
30 to 34     73   214.00  2.931507
35 to 39     41   147.67  3.601707
40+          12    36.54  3.045000

In [339]:
purchase_counts = new_group_df.groupby("Price").mean()
purchase_counts

ValueError: Grouper for 'Price' not 1-dimensional

In [301]:
gender_ranges_df.mean()

Total Count    97.375
dtype: float64

In [302]:
age_bin_df.mean()
age_bin_df.describe()

    Purchase ID                                                               \
          count        mean         std    min     25%    50%     75%    max
Age
7           9.0  402.888889  285.673959   27.0   78.00  481.0  610.00  778.0
8           8.0  335.000000  264.469820   37.0  160.50  291.5  425.75  767.0
9           6.0  617.166667   95.750544  486.0  553.25  623.5  687.00  732.0
10          9.0  274.222222  241.713559   32.0   54.00  155.0  424.00  679.0
11          7.0  450.428571  291.902870   26.0  231.00  539.0  676.00  774.0
12          6.0  426.166667  227.016666   56.0  397.50  410.5  501.50  755.0
13          4.0  239.000000  166.811271   76.0  123.25  215.5  331.25  449.0
14          2.0  490.000000    4.242641  487.0  488.50  490.0  491.50  493.0
15         35.0  424.657143  198.680492   68.0  271.00  409.0  603.00  769.0
16         30.0  408.366667  212.756698   82.0  237.00  377.5  608.25  771.0
17         22.0  377.500000  217.379797   61.0  183.25  330.5  571.00  752.0
18         26.0  402.615385  218.529829   42.0  242.25  369.0  540.75  765.0
19         23.0  390.086957  245.348530   30.0  174.00  399.0  602.50  741.0
20         99.0  383.060606  237.641078    0.0  164.50  377.0  583.50  777.0
21         62.0  363.064516  250.166035   12.0  116.25  352.5  599.00  776.0
22         70.0  401.842857  226.798233    5.0  222.25  407.5  590.75  750.0
23         67.0  388.462687  212.406295    4.0  216.00  371.0  540.50  766.0
24         67.0  372.895522  202.597087    2.0  232.50  382.0  524.00  779.0
25         59.0  405.254237  197.153502   55.0  287.50  397.0  568.50  759.0
26         14.0  444.428571  213.321251   79.0  264.75  416.5  626.25  772.0
27         10.0  379.400000  265.630989   46.0  139.75  393.5  622.25  677.0
28          5.0  389.400000  224.212622  115.0  184.00  489.0  553.00  606.0
29         13.0  399.923077  199.956438   25.0  274.00  458.0  540.00  635.0
30         35.0  361.771429  239.424689   19.0  172.00  310.0  601.50  730.0
31          7.0  424.285714  226.315940  158.0  216.50  474.0  602.50  700.0
32          8.0  354.000000  214.202841   53.0  178.75  424.0  486.75  653.0
33         14.0  342.857143  223.236976   49.0  154.25  328.0  428.00  689.0
34          9.0  332.222222  229.040268   60.0  143.00  308.0  398.00  770.0
35         14.0  373.928571  248.093799    9.0  159.25  427.5  508.50  739.0
36          5.0  452.600000  365.097658    6.0  107.00  659.0  738.00  753.0
37          7.0  300.142857  239.429481   31.0  164.50  208.0  407.50  718.0
38          9.0  458.222222  284.454644   22.0  217.00  563.0  695.00  768.0
39          6.0  478.833333  216.478559  195.0  318.00  516.5  615.25  745.0
40          6.0  257.833333  264.456739    1.0   56.25  188.0  415.00  667.0
41          2.0  409.000000   96.166522  341.0  375.00  409.0  443.00  477.0
42          1.0  557.000000         NaN  557.0  557.00  557.0  557.00  557.0
43          1.0  674.000000         NaN  674.0  674.00  674.0  674.00  674.0
44          2.0  488.000000  339.411255  248.0  368.00  488.0  608.00  728.0
45          1.0  761.000000         NaN  761.0  761.00  761.0  761.00  761.0

    Item ID              ...   Price       Purchase Count           \
      count        mean  ...     75%   max          count     mean
Age                      ...
7       9.0  106.333333  ...  4.3200  4.60            9.0  2379.77
8       8.0  103.125000  ...  4.2875  4.93            8.0  2379.77
9       6.0  107.666667  ...  3.3125  4.40            6.0  2379.77
10      9.0  108.000000  ...  4.1800  4.35            9.0  2379.77
11      7.0   90.285714  ...  3.7750  4.24            7.0  2379.77
12      6.0   88.833333  ...  3.4350  3.54            6.0  2379.77
13      4.0   87.500000  ...  2.7750  3.75            4.0  2379.77
14      2.0  116.000000  ...  4.1975  4.94            2.0  2379.77
15     35.0   91.114286  ...  4.3600  4.88           35.0  2379.77
16     30.0   90.600000  ...  4.3500  4.90           30.0  2379.77
17     22.0  118.954545  ...  4.1275  4.91           22.0  2379.77
18     26.0   85.576923  ...  3.8000  4.90           26.0  2379.77
19     23.0   89.086957  ...  4.2500  4.91           23.0  2379.77
20     99.0   86.383838  ...  4.2100  4.93           99.0  2379.77
21     62.0   86.500000  ...  3.8175  4.94           62.0  2379.77
22     70.0   81.371429  ...  3.8500  4.99           70.0  2379.77
23     67.0  100.447761  ...  4.0500  4.99           67.0  2379.77
24     67.0   89.462687  ...  4.1300  4.94           67.0  2379.77
25     59.0   91.593220  ...  3.8600  4.94           59.0  2379.77
26     14.0  109.785714  ...  3.5575  4.94           14.0  2379.77
27     10.0   81.400000  ...  3.4275  4.64           10.0  2379.77
28      5.0   40.400000  ...  2.2800  2.48            5.0  2379.77
29     13.0   90.076923  ...  3.7400  4.90           13.0  2379.77
30     35.0   99.942857  ...  4.2350  4.93           35.0  2379.77
31      7.0   95.714286  ...  4.2000  4.89            7.0  2379.77
32      8.0   99.000000  ...  3.4450  4.00            8.0  2379.77
33     14.0  103.214286  ...  3.3825  4.23           14.0  2379.77
34      9.0   51.222222  ...  3.0900  3.65            9.0  2379.77
35     14.0   91.714286  ...  4.3800  4.86           14.0  2379.77
36      5.0  141.400000  ...  2.9400  4.23            5.0  2379.77
37      7.0  101.285714  ...  4.5400  4.90            7.0  2379.77
38      9.0   98.000000  ...  4.4000  4.89            9.0  2379.77
39      6.0   92.500000  ...  4.6775  4.91            6.0  2379.77
40      6.0   97.000000  ...  4.0225  4.40            6.0  2379.77
41      2.0  122.000000  ...  4.1000  4.93            2.0  2379.77
42      1.0    8.000000  ...  3.9300  3.93            1.0  2379.77
43      1.0   77.000000  ...  4.0000  4.00            1.0  2379.77
44      2.0  115.000000  ...  3.0350  3.39            2.0  2379.77
45      1.0   17.000000  ...  1.7000  1.70            1.0  2379.77


              std      min      25%      50%      75%      max
Age
7    0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
8    0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
9    0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
10   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
11   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
12   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
13   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
14   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
15   4.613863e-13  2379.77  2379.77  2379.77  2379.77  2379.77
16   1.387564e-12  2379.77  2379.77  2379.77  2379.77  2379.77
17   1.396346e-12  2379.77  2379.77  2379.77  2379.77  2379.77
18   1.391259e-12  2379.77  2379.77  2379.77  2379.77  2379.77
19   1.394903e-12  2379.77  2379.77  2379.77  2379.77  2379.77
20   4.113554e-12  2379.77  2379.77  2379.77  2379.77  2379.77
21   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
22   1.374092e-12  2379.77  2379.77  2379.77  2379.77  2379.77
23   9.163589e-13  2379.77  2379.77  2379.77  2379.77  2379.77
24   9.163589e-13  2379.77  2379.77  2379.77  2379.77  2379.77
25   4.586508e-13  2379.77  2379.77  2379.77  2379.77  2379.77
26   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
27   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
28   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
29   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
30   4.613863e-13  2379.77  2379.77  2379.77  2379.77  2379.77
31   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
32   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
33   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
34   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
35   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
36   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
37   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
38   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
39   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
40   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
41   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
42            NaN  2379.77  2379.77  2379.77  2379.77  2379.77
43            NaN  2379.77  2379.77  2379.77  2379.77  2379.77
44   0.000000e+00  2379.77  2379.77  2379.77  2379.77  2379.77
45            NaN  2379.77  2379.77  2379.77  2379.77  2379.77

[39 rows x 32 columns]

In [324]:
myfile_df.groupby(["Age Range", "Item Name"]).groupby("Age Range").count()
myfile_df

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [284]:
sorted_df.groupby("Age")
binned_age_df.head()

KeyError: 'Age'

In [261]:
pokemon_group = new_df.groupby(["Price"])
pokemon_comparison_df = new_df.mean()
pokemon_comparison_df

Item ID    91.755128
Price       3.050987
dtype: float64

In [205]:
unique_users_df.sum()

               Purchase ID  Age  Item ID  Price
SN
Adairialis76           467   16      123   2.28
Adastirin33            142   35      175   4.48
Aeda94                 388   17      128   4.91
Aela59                  28   21      119   4.32
Aelaria33              630   23      171   1.79
...                    ...  ...      ...    ...
Yathecal82            1400   60      241   6.22
Yathedeu43             688   44      143   6.02
Yoishirrala98          572   17      145   4.58
Zhisrisu83             195   20       85   7.89
Zontibe81             1019   63      247   8.03

[576 rows x 4 columns]

In [254]:
player_count = new_df.sort_values(["Item Name"])
player_count.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [ ]:
item_counts = myfile

In [224]:
new_df[["Price"]].max()

Price    4.99
dtype: float64

In [222]:
new_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [206]:
another_df = myfile_df.groupby(['SN']).size()
another_df

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Length: 576, dtype: int64

In [179]:
min_power_tq = grouped_vehicles_df[["SN", ""]].min()
min_power_tq

NameError: name 'grouped_vehicles_df' is not defined

In [199]:
myfile_df["Price].mean()

SyntaxError: EOL while scanning string literal (<ipython-input-199-8ca3b847f0c2>, line 1)

In [ ]:
# Display Age Demographics Table

In [129]:
grouped_purchase_count = gender_ranges_df["Price"].mean()

KeyError: 'Price'

In [125]:
this_df = myfile_df.groupby('SN')('Price').nunique()
this_df["Price"].count()

TypeError: 'DataFrameGroupBy' object is not callable

In [ ]:
age_bin_df[]

In [128]:
# Create a summary data frame to hold the results and display it
gender_ranges_df = pd.DataFrame({"Total Count": (bin_counts),
                                 "Percentage of Players": (age_percent)
                                })
gender_ranges_df

          Total Count  Percentage of Players
10 to 14          NaN               9.375000
11 to 14         54.0                    NaN
15 to 19        200.0              34.722222
20 to 24        325.0              56.423611
25 to 29         77.0              13.368056
30 to 34         52.0               9.027778
35 to 39         33.0               5.729167
40+               7.0               1.215278
<10              32.0               5.555556

In [112]:
######################################### HELP ######################
# Create a summary data frame to hold the results and display it
gender_ranges_df = pd.DataFrame({"Total Count": (bin_counts),
                                 "Percentage of Players": (age_percent)
                                })
gender_ranges_df

          Total Count  Percentage of Players
10 to 14          NaN               9.375000
11 to 14         54.0                    NaN
15 to 19        200.0              34.722222
20 to 24        325.0              56.423611
25 to 29         77.0              13.368056
30 to 34         52.0               9.027778
35 to 39         33.0               5.729167
40+               7.0               1.215278
<10              32.0               5.555556