### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
myfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
myfile_df = pd.read_csv(myfile)
# pd.options.display.float_format = '${:,.2f}'.format

In [2]:
myfile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
myfile_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [ ]:
# myfile_df.describe()

## Player Count

* Display the total number of players

In [16]:
total_players = myfile_df["SN"].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame


unique_items = myfile_df["Item Name"].nunique()
unique_items

In [17]:
unique_items = myfile_df["Item Name"].nunique()
unique_items

179

In [19]:
purchase_count = myfile_df["Item Name"].count()
purchase_count

780

In [6]:
# How can I format with a dollar sign?
avg_price = round(myfile_df["Price"].mean(), 2)
avg_price

3.05

In [ ]:
# unique_items = myfile_df["Item Name"].unique()
# # unique_items.sort_values()
# unique_items

In [9]:
total_revenue = round(myfile_df["Price"].sum(), 2)
total_revenue

2379.77

In [ ]:
# unique_items = myfile_df["Item Name"].value_counts()
# # unique_items.sort_values()
# unique_items

In [20]:
# Create a summary data frame to hold the results
summary_table_df = pd.DataFrame({'Number of Unique Items': [unique_items], 
                                 'Average Price': "$"+str(avg_price),
                                 'Number of Purchases': (purchase_count),
                                 'Total Revenue': "$"+str(total_revenue)})
# summary_table = pd.DataFrame(data=summary_table)
summary_table_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
# Count of purchases by gender
gender_counts = myfile_df["Gender"].value_counts()
gender_counts

# Using GroupBy in order to separate the data into fields according to "gender" values
# grouped_purchase_count = myfile.groupby(['Gender']).value_counts()
# purchase_countgrouped_purchase_count_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [22]:
grouped_gender_df = myfile_df.groupby("Gender")

# Note that the "GroupBy" object by itself is not particularly useful

print(grouped_gender_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001AF2598AD30>

In [23]:
grouped_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [24]:
grouped_gender_df.mean()

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.095092  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

In [ ]:
# Find count of male players
male_players = myfile_df.loc[myfile_df["Gender"] == "Male", :]
male_players.count()

In [29]:
# Find percentage of male players
percent_male = round(myfile_df["male_players] / [total_players], 2)
percent_male
# dash_volume = round(merge_renamed_df["Dash Volume"].sum()/1000000, 2)

SyntaxError: EOL while scanning string literal (<ipython-input-29-279bc9dba7ae>, line 2)

In [ ]:
# Running a data function on a "GroupBy" object returns a DataFrame (if 2-D), or a Series (if 1-D). 
# Thus, you can create new dataframes based on the results of these data functions
# min_power_tq = grouped_vehicles_df[["Horsepower", "Torque (lb-ft)"]].min()
# min_power_tq


# You can group by multiple columns.This is useful if you're dealing with 
# demographic data and want to group by city AND state. 
# You can do this by passing in a list that contains the columns you want to group by.
# Group vehicles_df by both Manufacturer AND Vehicle Type
new_df = myfile_df.groupby(["Gender"])

# Get averages
new_df.count()

In [ ]:
summary_table_df.dtype()

In [ ]:
# Group items by the "Item Name" column
grouped_items_df = myfile_df.groupby("Item Name")

# Note that the "GroupBy" object by itself is not particularly useful
grouped_items_df.count()

In [ ]:
# Group items by the "Gender" column
grouped_gender_df = myfile_df.groupby("Gender")

# Note that the "GroupBy" object by itself is not particularly useful
grouped_items_df

In [ ]:
avg_age = myfile_df["Age"].mean()
round(avg_age, 0)

In [ ]:
count_of_males = myfile_df["Gender"] == "Male"
count_of_males.sum()

In [ ]:
m_percentage = (count_of_males / total_players) * 100
m_percentage

# # Calculations can also be performed on Series and added into DataFrames as new columns
# thousands_of_dollars = myfile_df[(count_of_males/total_players) *100]
# myfile_df["Thousands of Dollars"] = thousands_of_dollars

# myfile_df.head()

In [ ]:
count_of_females = myfile_df["Gender"] == "Female"
count_of_females.sum()

In [ ]:
# Create a summary DataFram to hold the results
summary_df = pd.DataFrame(grouped_gender_df)
summary_df

In [ ]:
count_of_other = myfile_df["Gender"] == "Other / Non-Disclosed" 
count_of_other.sum()

In [ ]:
# Average price
avg_price = myfile_df["Price"].mean()
avg_price
round(avg_price,0)

In [ ]:
myfile_df[["Item Name", "Price", "Gender"]].head()

In [ ]:
new_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                       {"Percent of Total: ["m_percentage", "f_percentage", "Other / Non-Disclosed"]
                      })
new_df

In [ ]:
grouped_gender = myfile_df.groupby("Gender")
grouped_gender.count()

In [ ]:
grouped_gender_df["Age"].mean()


* The below each broken by gender

* Purchase Count

* Average Purchase Price

* Total Purchase Value

* Average Purchase Total per Person by Gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Create bins for Ages
bins = []

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame